[run]
branch = True
parallel = True
source =
    clonedcodechecker
    tests

[paths]
source =
    clonedcodechecker/

[report]
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
show_missing = True
precision = True
